/*Fuentes*/
@font-face {
    font-family: "nevis";
    src: url("../css/fonts/nevis.eot");
    src: url("../css/fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("../css/fonts/nevis.woff") format("woff"),
        url("../css/fonts/nevis.ttf") format("truetype"),
        url("../css/fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../img/paven.png");
}

/*Cabecera*/
#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    color: #70b231;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a {
    color: #70b231;
}

/*Barra de navegacion*/
#nav {
    width: 100%;
    background-color: #333333;
    color: white;
    height: 40px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px grey;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: auto;
    width: 1090px;
}

#nav > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid grey;
    transition: all 300ms;
}

#nav > ul > li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav > ul > li a:first-child {
    border-left: 1px solid gray;
}

#nav > ul > li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}

/*Menu desplegable*/
#nav > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px grey;
    z-index: 1;
}

#nav > ul > li:hover > ul {
    display: block;
}

#nav > ul > li:hover > ul > li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav > ul > li:hover > ul > li a {
    color: #666666;
}

#nav > ul > li:hover > ul > li:hover {
    box-shadow: 0px 0px 6px #ccc inset;
}